<html>
  <head>

  </head>
  <body>
  <h1>Stupid coaching 😡</h1>

    <blockquote>
      <p><%= @user_message %></p>
      <p>-You</p>
    </blockquote>

  <blockquote>
    <p><%= @answer %></p>
    <cite>-Your coach</cite>
  </blockquote>

    <%= link_to "Ask a new question", ask_path %>
  </body>
</html>
